$metal: #FBFCFD;
$estela: #4D47C3;

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $estela;
    border-color: $estela;
}

.ant-modal-header, .ant-modal-content {
    border-radius: 8px;
}

// .antd-select-item .ant-select-item-option-content .ant-select-item-option-selected {
//     background-color: red;
// }

.antd-select-item .ant-select-selection {
    background-color: green;
}

.ant-select-selector {
    border-radius: 3px !important;
    border: 1px solid $estela !important;
}

.ant-table-thead .ant-table-cell {
    font-size: 12px;
    font-weight: 500;
    background-color: $metal;
}

  .ant-table-cell::before {
    display: none;
}
