$metal: #FBFCFD;
$estela: #4D47C3;
$estela-white-medium: #F9F9F9;
$estela-black-medium: #6C757D;

Button {
    &:disabled {
        background-color: $estela-white-medium !important;
        color: $estela-black-medium !important;
    }
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $estela;
    border-color: $estela;
}

.ant-modal-header, .ant-modal-content {
    border-radius: 8px;
}

.antd-select-item .ant-select-selection {
    background-color: green;
}

.ant-select-selector {
    border-radius: 3px !important;
    border: 1px solid $estela !important;
}

.ant-table-thead .ant-table-cell {
    font-size: 12px;
    font-weight: 500;
    background-color: $metal;
}

  .ant-table-cell::before {
    display: none;
}
