$metal: #FBFCFD;
$estela: #4D47C3;

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $estela;
    border-color: $estela;
  }

.ant-table-thead .ant-table-cell {
    font-size: 12px;
    font-weight: 500;
    background-color: $metal;
  }

  .ant-table-cell::before {
    display: none;
  }
