venv/
.venv/
.idea/
*.pyc
.env
config/kubernetes-local/bitmaker-api-secrets.yaml
config/kubernetes-local/bitmaker-api-configmaps.yaml
config/kubernetes-prod/bitmaker-api-secrets.yaml
config/kubernetes-prod/bitmaker-api-configmaps.yaml

config/**/*.crt