$estela: #4D47C3;

.ant-menu-inline > .ant-menu-submenu:hover {
    div {
        color: $estela;
    }
    svg {
        stroke: $estela;
    }
}

.ant-menu-inline > .ant-menu-item:hover {
    a {
        color: $estela;
    }
}

.ant-menu-inline > .ant-menu-submenu-selected {
    .sub-menu {
        color: $estela;
        font-weight: 700;
        background-color: #F6FAFD !important;
    }
    svg {
        stroke: $estela;
    }
}

.ant-menu-inline > .ant-menu-item-selected {
    div {
        background-color: #F6FAFD;
    }
    a {
        color: $estela;
        font-weight: 700;
    }
    svg {
        stroke: $estela;
    }
    background-color: white !important;
}

.ant-menu-inline > .ant-menu-item::after,
.ant-menu-inline > .ant-menu-item::before {
    border: none;
}

.ant-menu-sub.ant-menu-inline {
    background: white;
}

.ant-layout-sider {
    background-color: white;
}

.ant-menu-inline {
    box-shadow: none;
    border-right: none;
}
