$estela-black-medium: #6C757D;
$estela-blue-low: #F6FAFD;
$estela-blue-full: #4D47C3;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-background {
    background-color: #ffffff;
}

.text-center {
    text-align: center;
}

.content-padding {
    padding: 30px;
}

.general-container {
    min-height: 100vh;
}

.pagination {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.ant-btn-primary {
    background-color: rgb(24, 144, 255) !important;
    border-color: rgb(24, 144, 255);;
}

.ant-btn-primary:hover {
    background-color: white !important;
    border-color: rgb(24, 144, 255);;
    color: rgb(24, 144, 255);;
}

.ant-pagination-item {
    font-weight: 400;
    border: none;
    color: $estela-black-medium !important;
}
  
.ant-pagination-item-active {
    color: $estela-blue-full !important;
    background-color: $estela-blue-low !important;
    font-weight: 700;
}