.btn_profile{
    background-color: #4D47C3;
    border-radius: 8px;
    color: white;
    padding: 28px 15px;
    line-height: 0px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}

.input_profile {
    background: #FFFFFF;
    padding: 14px 20px;
    border: 1px solid #9BA2A8;
    border-radius: 8px;
    
}
