//
// Typography
//

$body-font-family: Inter, sans-serif;
$mono-font-family: "roboto mono", monospace;
$root-font-size: 16px; // Base font-size for rems
$body-line-height: 1.4;
$content-line-height: 1.6;
$body-heading-line-height: 1.25;

//
// Colors
//

$dark-blue: #001529;
$light-blue: #1890ff;

$summary-text-color: $light-blue;
$details-text-color: $light-blue;
$summary-color: $light-blue;
$details-color: $light-blue;
$body-background-color: $white;
$sidebar-color: $dark-blue;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-200;
$body-heading-color: $light-blue;
$search-result-preview-color: $grey-dk-300;
$nav-child-link-color: $grey-lt-300;
$link-color: $light-blue;
$btn-primary-color: $light-blue;
$base-button-color: #f7f7f7;
