.environment-variables {
  border: 1px solid #4D47C3;
  border-radius: 6px;
  background-color: white;
  color: #4D47C3 !important;
  padding: 1px 4px;
}

.proxy {
  border: 1px solid #4D47C3;
  border-radius: 6px;
  background-color: white;
  color: #4D47C3 !important;
  padding: 1px 4px;
}

.tooltip {
  padding: 0px;
}

.ant-tooltip-inner {
  color: white;
  border-radius: 8px;
}
