#################### CHART VARIABLES ####################

local: true
hostIp: ""
registryHost: ""
nodeSelector: ""

#################### CLOUD VARIABLES ####################

######## AWS ########

AWS_ACCESS_KEY_ID: ""
AWS_SECRET_ACCESS_KEY: ""
AWS_DEFAULT_REGION: ""

awsRegistry: ""
imagePullSecrets: ""

#################### ESTELA VARIABLES ####################

############ GLOBAL ############

# Database
SPIDERDATA_DB_ENGINE: mongodb
SPIDERDATA_DB_CONNECTION: ""
SPIDERDATA_DB_CERTIFICATE_PATH: config/ca-certificate.crt

# Kafka
KAFKA_HOSTS: "" # kafka
KAFKA_PORT: "" # 9092

############ API ############

# Database
DB_HOST: "" # database
DB_PORT: "" # 3306
DB_NAME: "" # estela
DB_USER: "" # django-api
DB_PASSWORD: "" # estela12345

# Registry
REGISTRY_HOST: ""
REGISTRY_ID: ""
REPOSITORY_NAME: "" # estela-projects
BUCKET_NAME_PROJECTS: "" # estela-api-projects

# Settings
SECRET_KEY: ""
DJANGO_SETTINGS_MODULE: "" # config.settings.local
ENGINE: "" # kubernetes
CREDENTIALS: "" # local
CORS_ORIGIN_WHITELIST: ""
DJANGO_API_HOST: dummy
DJANGO_EXTERNAL_APPS: "" # "app_1,app_2,..."
EXTERNAL_APP_KEYS: "" # "key_1,key_2,..."
EXTERNAL_MIDDLEWARES: "" # "app1.middlware,app2.middlware"

# Celery
CELERY_BROKER_URL: redis://estela-redis-service
CELERY_RESULT_BACKEND: redis://estela-redis-service:6379/0

# Mailing
EMAIL_HOST: "" # http://smtp.gmail.com
EMAIL_PORT: "" # 587
EMAIL_HOST_USER: ""
EMAIL_HOST_PASSWORD: ""
EMAILS_TO_ALERT: ""
VERIFICATION_EMAIL: ""
REGISTER: "" # "True"

############ QUEUEING ############

KAFKA_CONSUMER_PRODUCTION: "" # "False"

WORKER_POOL: ""
HEARTBEAT_TICK: ""
QUEUE_BASE_TIMEOUT: ""
QUEUE_MAX_TIMEOUT: ""

SIZE_THRESHOLD: ""
INSERT_TIME_THRESHOLD: ""
ACTIVITY_TIME_THRESHOLD: ""
