$estela-blue-full: #4D47C3;

.row-highlighted:hover {
    border-collapse: collapse !important;
    background-color: #4D47C3 !important;
    border-color: $estela-blue-full !important;
    border-width: 3px !important;
    border-left-style: solid !important;
    border-left-width: 3px !important;
    border-left-color: $estela-blue-full !important;
    border-right-style: solid !important;
    border-right-width: 3px !important;
    border-right-color: $estela-blue-full !important;
}

.stats-date-modal .ant-modal-body {
    padding: 0% !important;

}