$estela-green-full: #489019;
$estela-blue-full: #4D47C3;

.ant-table-tbody > tr > td {
    border: none
}

.ant-switch-checked {
    background-color: $estela-green-full;
}

.schedule {
    .ant-switch-checked {
        background-color: $estela-blue-full;
    }
}

.ant-select-selector {
    border-radius: 8px !important;
}

.ant-radio-checked .ant-radio-inner{
    border-color: $estela-blue-full;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
    background-color: $estela-blue-full;
  }
  
  .ant-radio:hover .ant-radio-inner {
    border-color: $estela-blue-full;
  }
