$estela-green-full: #489019;
$estela-blue-full: #4D47C3;

.ant-table-tbody > tr > td {
    border: none
}

.ant-switch-checked {
    background-color: $estela-green-full;
}

.schedule > .ant-switch-checked {
    background-color: $estela-blue-full;
}

.ant-select-selection.ant-select-selection--single {
    border-radius: 0px 16px 16px 0px !important;
    height: 53px;
}

.ant-select-selector {
    border-radius: 8px !important;
}
