# Default values for testchart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
Local: true

# Endpoint for database in local
Endpoint_ip: 192.168.49.1 # minikube ssh 'grep host.minikube.internal /etc/hosts | cut -f1'

replicaCount: 1

# ConfigMap
config: api-config
DB_HOST: <DB_HOST>
DB_PORT: <DB_PORT>
DB_NAME: <DB_NAME>
AWS_DEFAULT_REGION: <AWS_DEFAULT_REGION>
REGISTRY_ID: <REGISTRY_ID>
REGISTRY_HOST: <REGISTRY_HOST>
REPOSITORY_NAME: bitmaker-projects
CORS_ORIGIN_WHITELIST: http://localhost:3000
KAFKA_HOSTS: <KAFKA_HOSTS>
KAFKA_PORT: <KAFKA_PORT>
STAGE: DEVELOPMENT
DJANGO_SETTINGS_MODULE: config.settings.test
CELERY_BROKER_URL: redis://bitmaker-redis-service
CELERY_RESULT_BACKEND: redis://bitmaker-redis-service:6379/0
BUCKET_NAME_PROJECTS: bitmaker-api-projects
ELASTICSEARCH_HOST: <ELASTICSEARCH_HOST>
ELASTICSEARCH_PORT: "443"
LOGS_INDEX: "filebeat-*"

# Secrets
secret: api-secrets
DB_USER: <DB_USER_BASE_64>
DB_PASSWORD: <DB_PASSWORD_BASE_64>
AWS_ACCESS_KEY_ID: <AWS_ACCESS_KEY_ID_BASE_64>
AWS_SECRET_ACCESS_KEY: <AWS_SECRET_ACCESS_KEY_BASE_64>
MONGO_CONNECTION: <MONGO_CONNECTION_BASE_64>
SECRET_KEY: <SECRET_KEY_BASE_64>
ELASTICSEARCH_USER: <ELASTICSEARCH_USER_BASE_64>
ELASTICSEARCH_PASS: <ELASTICSEARCH_PASS_BASE_64>

# Registry
registryHost: your.registry.host

# Image pull secrets if is required or not
imagePullSecrets: [ name: regcred ]

# API HOST: kubectl get services -n <NAMESPACE> bitmaker-django-api-service --output jsonpath='{.status.loadBalancer.ingress[0].ip}'
django_api_host: 10.99.125.226

aws_registry: true

nameOverride: ""
fullnameOverride: "bitmaker"

nodeSelector: {} #{ role: bitmaker-api }
