.spider-data {
    width: 800px;
    margin: 30px auto;
}

.create-new-job {
    margin: 30px auto;
    display: flex;
    align-self: auto;
}

.alignment-button-icon {
    display: inline-flex;
    align-items: center;
}

$estela-blue-full: #4D47C3;;
$estela-black-medium: #6C757D;

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $estela-blue-full !important;
}

.ant-tabs-tab-btn:hover, .ant-tabs-tab:hover {
    color: $estela-blue-full !important;
}

.ant-tabs-ink-bar, .ant-tabs-ink-bar-animated {
    background-color: $estela-blue-full !important;
}

.ant-tabs-nav::before {
    border-bottom: none !important;
}



